<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="catalog_product_save_before">
		<observer name="custom_vendors_product_save_before" instance="ShopForBuild\CustomVendors\Observer\ProductSaveBefore" />
	</event>
    <event name="catalog_product_load_after">
        <observer name="custom_vendors_product_internal_sku_load" instance="ShopForBuild\CustomVendors\Observer\ProductLoadAfter" />
    </event>

    <event name="sales_order_place_after">
        <observer name="custom_vendors_balance_update" instance="ShopForBuild\CustomVendors\Observer\OrderPlaceAfter" />
    </event>
</config>
